<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.huang.mybatis.test.UserMapper">

    <select id="getAll" resultType="com.huang.mybatis.test.User">
        select * from user
    </select>
    <select id="getById" parameterType="int" resultType="com.huang.mybatis.test.User">
        select * from user where id = #{id}
    </select>

    <insert id="add">
        insert into user(id, name) values (#{id}, #{name})
    </insert>

    <update id="update">
        update user set name = #{name} where id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        delete from user where id = #{id}
    </delete>
</mapper>
